<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>pac.test.TaskOneTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>goTooltipTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>droppableTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchGoToDemoqaPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>popUpTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dragAndDrop</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupSelenium</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeSelenium</td>
<td>&nbsp;</td></tr>
</table>
