<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TaskOneTest.setupSelenium()[pri:0, instance:pac.test.TaskOneTest@573f2bb1]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:29</td>   <td>7432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TaskOneTest.searchGoToDemoqaPage()[pri:1, instance:pac.test.TaskOneTest@573f2bb1]">searchGoToDemoqaPage</td> 
  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:39</td>   <td>17305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TaskOneTest.droppableTest()[pri:2, instance:pac.test.TaskOneTest@573f2bb1]">droppableTest</td> 
  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:43</td>   <td>20655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TaskOneTest.dragAndDrop()[pri:3, instance:pac.test.TaskOneTest@573f2bb1]">dragAndDrop</td> 
  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:44</td>   <td>21877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TaskOneTest.goTooltipTest()[pri:4, instance:pac.test.TaskOneTest@573f2bb1]">goTooltipTest</td> 
  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:46</td>   <td>24012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TaskOneTest.popUpTest()[pri:5, instance:pac.test.TaskOneTest@573f2bb1]">popUpTest</td> 
  <td>main@1073502961</td>   <td></td> </tr>
<tr bgcolor="fd9771">  <td>20/02/23 18:40:46</td>   <td>24575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TaskOneTest.closeSelenium()[pri:0, instance:pac.test.TaskOneTest@573f2bb1]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1073502961</td>   <td></td> </tr>
</table>
