<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bad6f">  <td>19/02/20 20:43:12</td>   <td>0</td> <td title="&lt;&lt;LoginTestPage.closeSelenium()[pri:0, instance:primeri18.LoginTestPage@3c756e4d]">&lt;&lt;closeSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@201556483</td>   <td></td> </tr>
<tr bgcolor="9bad6f">  <td>19/02/20 20:43:10</td>   <td>-2100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestPage.login()[pri:0, instance:primeri18.LoginTestPage@3c756e4d]">login</td> 
  <td>main@201556483</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>19/02/20 20:43:12</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTest.logout()[pri:0, instance:primeri18.LogoutTest@7c0e2abd]">logout</td> 
  <td>main@201556483</td>   <td></td> </tr>
<tr bgcolor="9bad6f">  <td>19/02/20 20:43:05</td>   <td>-6886</td> <td title="&gt;&gt;LoginTestPage.setupSelenium()[pri:0, instance:primeri18.LoginTestPage@3c756e4d]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@201556483</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>19/02/20 20:43:12</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTest.setupSelenium()[pri:0, instance:primeri18.LogoutTest@7c0e2abd]">&gt;&gt;setupSelenium</td> 
<td>&nbsp;</td>  <td>main@201556483</td>   <td></td> </tr>
</table>
